.services {
  &__list {
    list-style-type: none;
  }

  &__item {
    background-color: #f2f2f2;
  }

  &__item &__title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #68b738;
  }

  &__item &__title::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__item:nth-child(odd) &__title::after {
    top: -3px;
    left: 7px;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#programm_cat_sits");
  }

  &__item:nth-child(even) &__title::after {
    top: 11px;
    left: -9px;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#programm_cat_walks");
  }

  &__title {
    position: relative;
    font-family: $secondary-font, serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 37px;
    color: $text-color-tertiary;
    text-transform: uppercase;
    padding-left: 90px;
  }

  &__button {
    position: relative;
    font-family: $secondary-font, serif;
    font-size: 16px;
    line-height: 16px;
    color: $text-color-secondary;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__button::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 10px;
    background-image: url("../../icons/programm_arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 8px;
    left: 89px;
  }

  &__button:active {
    opacity: 30%;
  }
}
