.social-list {
  list-style-type: none;
}

.social-list__link svg {
  width: 28px;
  height: 22px;
  color: #666666;

  &:hover {
    color: #68b738;
  }

  &:active {
    color: rgba(104, 183, 56, 0.3);
  }
}
